*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.container h3{
  color: green;
  font-size: 20px;
  margin-bottom: 30px;
}
.container{
  width: 600px;
//  border: 2px solid black;
  color: white;
  top:50%;
  left:30%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.container h1{
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  border-bottom: 5px solid green;
  display: inline-block;
}
input{
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  width: 80%;
  outline: none;
}
.box{
  width: 70%;
  border-bottom:2px solid green ;
  padding: 13px 0;
  margin: 23px 0;
}
.box i{
  color:green;
  padding-right: 10px;
  font-size: 20px;
}

button{
  background: none;
  color: green;
  cursor: pointer;
  width: 20%;
  margin: 12px 0px 12px 20px;
  padding: 10px;
  border: 2px solid green;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
button:hover{
  background: green;
  color: white;
  opacity: 0.5;
}

#logo{
  color: green;
  font-size: 50px;
  font-weight: bolder;
  border: none;
  outline: none;
  text-decoration: none;
}

.rightmenu{
  width: 100%;
}
.rightmenu a{
  text-decoration: none;
  color: green;
  padding-left: 50px;
  font-weight: bold;
}
.rightmenu a:hover{
  color: red;
  border: none;
  outline: none;
}

.content-main{
  color: green;
  width: 500px;
}
#rightfloat{
  float: right;
}
